.product__container {
  // padding: 60px 15px;
  margin: 0 auto;
}

.product__title--hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
