$color-white: #ffffff;
$color-graphite: #212121;
$color-grey: #757575;
$color-blue: #2196f3;
$back-grey-blue: #f5f4fa;
$footer-color: #2f303a;
$link-grey: #afb1b8;
$link-blue: #2196f3;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
